body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6b73ff, #000dff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

input {
  width: 200px;
  height: 40px;
  text-align: right;
  margin-bottom: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 8px;
  justify-content: center;
}

.btn {
  height: 45px;
  border: none;
  background-color: #eee;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #d0d0ff;
}

.equal {
  background-color: #007bff;
  color: white;
}

.equal:hover {
  background-color: #0056b3;
}
